body {
    font-family: Poppins;
}

.hide {
    display: none;
}

#menuLogout {
    color: #B81D13;
    border: 1px #B81D13 solid;
    background-color: white;
}

#SearchKeywords {
    height: 40px;
    width: 350px;
    background-color: #f5fbfc;
    border: 2px solid #a2edfa;
    border-radius: 13px;
}

#SearchGlyph {
    font-size: 25px;
    cursor: pointer;
}
#SearchGlyph:hover {
    opacity: .75;
}

.TopPadding {
    padding: 10px;
}

.MenuItem {
    font-size: 18px;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 5px;
    vertical-align: center;
    padding: 7px;
    cursor: pointer;
    background-color: #F5F5F5;
}
.MenuItem:hover {
    opacity: .75;
}

#divMessage {
    z-index: 15;
    display: none;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 15px;
    border: 1px black solid;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 45%;
    -ms-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
}

#dashboard {
    padding-top: 35px;
}

#divSearch {
    display: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

.TablePadding {
    padding: 10px;
}

.SearchTablePadding {
    padding: 5px;
}

#RightLeftArrow {
    cursor: pointer;
    color: gray;
    font-size: 16px;
}
#RightLeftArrow:hover {
    opacity: .75;
}

#AccountMenu {
    position: absolute;
    display: none;
    padding: 10px;
}

.AcctMenuItem {
    cursor: pointer;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 4px;
}
.AcctMenuItem:hover {
    opacity: .75;
}

.heading {
    font-weight: bold;
    font-size: 1.17em;
    margin-bottom: 5px;
    float: left;
}

.PopupForm {
    display: none;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px black solid;
    padding: 10px;
    border-radius: 5px;
    z-index: 9;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: .1;
    pointer-events: none;
    background-color: gray;
    z-index: 3;
}

.button {
    border: none;
    color: white;
    padding: 5px 13px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}
.button:hover {
    opacity: .75;
}

.RepeatButton {
    font-weight: bold;
    cursor: pointer;
}
.RepeatButton:hover {
    opacity: .75;
}

/*  colors */

.red {
    color:#B81D13;
}

.orange {
    color:#EFB700;
}

.green {
    color:#008450;
}

.greenBG {
    background-color: #008450;
}

.orangeBG {
    background-color: #EFB700;
}

.redBG {
    background-color: #B81D13;
}

.yellowBG {
    background-color: #f2ef99;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

#tblAcct th {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Files table */

#tblFiles {
    border-collapse: collapse;
    width: 100%;
}

#tblFiles td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tblFiles tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tblFiles tr:hover {
    background-color: #f7f9fc;
}

#tblFiles th {
    padding-top: 12px;
    padding-bottom: 12px;
}
/* ----------------------------- */

.FileImage {
    display: none;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    border: 1px gray solid;
    padding: 10px;
    border-radius: 5px;
    z-index: 9;
}

.close {
    cursor: pointer;
    float: right;
    padding-top:3px;
}
.close:hover {
    opacity: .5;
}

/* loader */
#divLoader {
    display: none;
    border: 12px solid #EFB700;
    border-top: 12px solid #8b2673;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
