/* font color */

.red {
    color:#B81D13;
}

.orange {
    color:#EFB700;
}

.green {
    color:#004d2e;
}

.blue {
    color: blue;
}


/* BG colors */

.greenBG {
    background-color: #008450;
}

.orangeBG {
    background-color: #EFB700;
}

.redBG {
    background-color: #B81D13;
}

.yellowBG {
    background-color: #f2ef99;
}

.blueBG {
    background-color: blue;
}