.ImageIcon {
    cursor: pointer;
    padding-top:3px;
}

.FileImage {
    display: none;
    background-color: white;
    margin: 0;
    border: 1px gray solid;
    padding: 10px;
    border-radius: 5px;
    z-index: 9;
}

.BuyFileImage {
    height: 200px;
    width: 200px;
}
