#SearchKeywords {
    height: 40px;
    width: 350px;
    background-color: #f5fbfc;
    border: 2px solid #a2edfa;
    border-radius: 13px;
    padding-left: 10px;
}


#SearchGlyph {
    font-size: 25px;
    cursor: pointer;
}

#divSearch {
    display: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

.SearchResultTD {
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 5px;
}

.SearchImage {
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    box-shadow:3px 3px 3px 3px #B8B8B8;
    cursor: pointer;
}

.SearchDesc {
    width: 200px;
    margin: auto;
    text-align: center;
    overflow-wrap: normal;
}

.BuyFileName {
    margin-top: 13px;
}

#tblSearchResults {
    border-spacing:20px;
    font-size: 14px;
}

.NoSearchResults {
    position:fixed;
    cursor:pointer;
    color:purple;
    border: 1px solid purple;
    border-radius: 3px;
    padding: 3px;
}
